project:
  type: website
  output-dir: _site

website:
  navbar:
    left:
      - href: index.qmd
        text: About
      - href: cv.qmd
        text: CV

format:
  html:
    theme: cosmo
    css: styles.css